<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Geoquizz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{style}}/css/input.css">
</head>
<body>
  <header class="navbar">
    <div class="nav_element">
        <a href="{{backoffice}}"><img src="{{style}}/img/logo_chico.png" class="logo"></a>
    </div>
      <nav class="nav_element">
        <a href="{{logout}}">Déconnexion</a>
      </nav>
  </header>

  <article class="container">
    <div id="map"></div>
    <div class="jumbotron col-6">
      <h1>Ajouter une nouvelle photo à la série</h1>
      <form class="form-horizontal" method="POST" action="{{creation}}">
       <div class="form-group">
           <input type="text" class="form-control" id="description" placeholder="Nom et/ou détails sur l'image" name="description">
       </div>
       <div class="form-group">
           <input type="text" class="form-control" id="position_long" placeholder="Longitude" name="position_long">
       </div>
       <div class="form-group">
           <input type="text" class="form-control" id="position_lat" placeholder="Latitude" name="position_lat">
       </div>
       <div class="form-group">
           <input type="text" class="form-control" id="url" placeholder="Lien vers l'image" name="url">
       </div>
       <div class="form-group">
           <input type="hidden" class="form-control" id="id_serie" name="id_serie" value="{{idSerie}}">
           <input type="hidden" class="form-control" id="id_serie" name="lat_serie" value="{{latSerie}}">
           <input type="hidden" class="form-control" id="id_serie" name="long_serie" value="{{longSerie}}">
           <button type="submit" class="btn btn-default">Ajouter !</button>
       </div>
     </form>
    </div>
</article>
<script src="{{style}}/js/map.js" charset="utf-8"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW6k5H-IUwCs5HrPIUWz0NWfC41fQWz2Y&callback=initMap"async defer></script>
</body>
</html>
