<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Geoquizz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{style}}/css/input.css">
  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
          width: 50%;
        float: right;
        margin: 10px;
      }
      #pic {
        height: 10%;
        width: 50%;
        float: left;
      }

      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100vh;
      }
    </style>
</head>

<body>
  <header class="navbar">
    <div class="nav_element">
        <a href="{{backoffice}}"><img src="{{style}}/img/logo_chico.png" class="logo"></a>
    </div>
      <nav class="nav_element">
        <a href="">Déconnexion</a>
      </nav>
  </header>
      <div id="map"></div>
  <article class="container">
    <div class="jumbotron col-6">
      <h1>Ajouter une nouvelle photo à la série</h1>
      <form class="form-horizontal" method="POST" action="{{creation}}">
       <div class="form-group">
           <input type="text" class="form-control" id="description" placeholder="Nom et/ou détails sur l'image" name="description">
       </div>
       <div class="form-group">
           <input type="text" class="form-control" id="position_long" placeholder="Longitude" name="position_long">
       </div>
       <div class="form-group">
           <input type="text" class="form-control" id="position_lat" placeholder="Latitude" name="position_lat">
       </div>
       <div class="form-group">
           <input type="text" class="form-control" id="url" placeholder="Lien vers l'image" name="url">
       </div>
       <div class="form-group">
           <input type="hidden" class="form-control" id="id_serie" name="id_serie" value="{{idSerie}}">
           <button type="submit" class="btn btn-default">Ajouter !</button>
       </div>
     </form>
    </div>
    <div class="jumbotron col-6">
      <div id="map"></div>
    </div>


</article>
<script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 48.8574100, lng: 2.3338000},
          draggable: false,
          zoom: 13
        });

        map.addListener('click', function(e) {
          placeMarkerAndPanTo(e.latLng, map);
        });
      }

      function placeMarkerAndPanTo(latLng, map) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map
        });

      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key= AIzaSyDW6k5H-IUwCs5HrPIUWz0NWfC41fQWz2Y &callback=initMap"
        async defer></script>
</body>
</html>
