<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Geoquizz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{style}}/css/input.css">
  <link rel="stylesheet" href="{{style}}/css/style.css">
</head>
<body>
  <header class="navbar">
    <div class="nav_element">
        <a href="{{backoffice}}"><img src="{{style}}/img/logo_chico.png" class="logo"><h6>Geoquizz</h6></a>
    </div>
    <nav class="nav_element">
      <a href="{{logout}}">Déconnexion <span class="icon-exit"></span></a>
      <a href="{{compte}}">Compte <span class="icon-cog"></span></a>
    </nav>
  </header>

  <article class="container">
    <div class="jbt">
      <h1>Modifier une photo</h1>
      <div class="flex">
        <form class="form-horizontal" method="POST" action="{{modification}}">
         <div class="form-group">
             <input type="text" class="form-control" id="description" placeholder="Nom et/ou détails sur l'image" name="description" value="{{photo.description}}">
         </div>
         <div class="form-group">
             <input type="text" class="form-control" id="position_long" placeholder="Longitude" name="position_long" value="{{photo.position_long}}">
         </div>
         <div class="form-group">
             <input type="text" class="form-control" id="position_lat" placeholder="Latitude" name="position_lat" value="{{photo.position_lat}}">
         </div>
         <div class="form-group">
              <p><a href="https://imageshack.us/" target="_blank">Upload de l'image</a></p>
             <input type="text" class="form-control" id="url" placeholder="Lien vers l'image" name="url" value="{{photo.url}}">
         </div>
         <div class="form-group">
             <input type="hidden" class="form-control" id="lat_serie" name="lat_serie" value="{{latSerie}}">
             <input type="hidden" class="form-control" id="long_serie" name="long_serie" value="{{longSerie}}">
             <button type="submit" class="btn btn-default">Modifier !</button>
         </div>
       </form>
       <div id="map"></div>
      </div>
    </div>
  </article>
<script src="{{style}}/js/mapModifier.js" charset="utf-8"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW6k5H-IUwCs5HrPIUWz0NWfC41fQWz2Y&callback=initMap"async defer></script>
</body>
</html>
