<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Geoquizz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{style}}/css/input.css">
  <link rel="stylesheet" href="{{style}}/css/style.css">
</head>
<body>
  <header class="navbar">
    <div class="nav_element">
        <a href="{{backoffice}}"><img src="{{style}}/img/logo_chico.png" class="logo"><h6>Geoquizz</h6></a>
    </div>
    <nav class="nav_element">
      <a href="{{logout}}">Déconnexion <span class="icon-exit"></span></a>
      <a href="{{compte}}">Compte <span class="icon-cog"></span></a>
    </nav>
  </header>
  <article class="container">
    <h1 class="centrar">Geoquizz</h1>
    <div class="col-12 centrar">
      <div>
        <a href="{{backoffice}}"><img src="{{style}}/img/005-image.png"></a>
      </div>
   </div>
   <div class="col-12 right">
     <a href="{{photo}}" class="lien">Ajouter une photo<span class="icon-plus"></a>
   </div>

   <div class="cont">
     {% for photo in tabPhotos %}
     <div class="c-x"><img src="{{ photo.url }}" alt=""><h6>{{ photo.description }}</h6><a href="{{ photo.modifier }}"><span class="icon-pencil"></span></a><a href="{{ photo.supprimer }}"><span class="icon-cross"></span></a></div>
     {% endfor %}
   </div>



    <!-- <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>

     {% for photo in tabPhotos %}
     <tr>
       <td>{{ photo.description }}</td>
       <td><a href="{{ photo.modifier }}"><span class="icon-pencil"></span></a></td>
       <td><a href="{{ photo.supprimer }}"><span class="icon-cross"></span></a></td>
     </tr>
     {% endfor %}

    </tbody>
   </table> -->

  </article>
</body>
</html>
