<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Geoquizz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{style}}/css/input.css">
  <link rel="stylesheet" href="{{style}}/css/style.css">
</head>
<body>
  <header class="navbar">
    <div class="nav_element">
        <a href="{{backoffice}}"><img src="{{style}}/img/logo_chico.png" class="logo"><h6>Geoquizz</h6></a>
    </div>
    <nav class="nav_element">
      <a href="{{logout}}">Déconnexion <span class="icon-exit"></span></a>
      <a href="{{compte}}">Compte <span class="icon-cog"></span></a>
    </nav>
  </header>

  <article class="container">
    <div class="jbt">
      <h1>Créer une nouvelle série</h1>
      <div class="flex">
        <form class="form-horizontal" method="POST" action="{{creation}}">
         <div class="form-group">
             <input type="text" class="form-control" id="ville" placeholder="ville" name="ville">
         </div>
         <div class="form-group">
             <input type="text" class="form-control" id="serie_lat" placeholder="Latitude" name="serie_lat">
         </div>
         <div class="form-group">
             <input type="text" class="form-control" id="serie_long" placeholder="Longitude" name="serie_long">
         </div>
         <div class="form-group">
             <input type="text" class="form-control" id="dist" placeholder="Distance en mètre" name="dist">
         </div>
         <div class="form-group">
             <button type="submit">Créer !</button>
         </div>
       </form>
       <div id="map"></div>
      </div>
    </div>
   </article>
<script src="{{style}}/js/map2.js" charset="utf-8"></script>
<script src="https://maps.googleapis.com/maps/api/js?key= AIzaSyDW6k5H-IUwCs5HrPIUWz0NWfC41fQWz2Y &callback=initMap"
async defer></script>
</body>
</html>
