<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Geoquizz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{style}}/css/input.css">
  <link rel="stylesheet" href="{{style}}/css/background.css">
  <link rel="stylesheet" href="{{style}}/css/style.css">
</head>

<body>
  <header class="navbar">
    <div class="nav_element">
        <a href="{{backoffice}}"><img src="{{style}}/img/logo_chico.png" class="logo"><h6>Geoquizz</h6></a>
    </div>
      <nav class="nav_element">
        <a href="{{connexion}}">Connexion <span class="icon-key"></span></a>
        <a href="{{creation}}">S'enregistrer <span class="icon-user"></a>
      </nav>
  </header>

  <article class="container">
    <div class="jbt col-6">
      {% if exception != null %}
        {% if exception is iterable %}
          {% for excep in exception %}
            <p>{{excep.0}}</p>
          {% endfor %}
        {% else %}
          <p>{{exception}}</p>
        {% endif %}
      {% endif %}
      <h1>Connexion</h1>
      <form method="POST" action="{{login}}" class="form-horizontal">
       <div class="form-group">
           <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
       </div>
       <div class="form-group">
           <input type="password" class="form-control" id="password" placeholder="Mot de passe" name="password" required>
       </div>
       <div class="form-group">
           <button type="submit" class=" ">Connecter</button>
       </div>
     </form>
    </div>
   </article>
</body>
</html>
