<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Geoquizz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- cambiar a esto {{style}}/input.css  -->
  <link rel="stylesheet" href="{{style}}/css/input.css">
  <style media="screen">
  body{
    background-image: url('http://backoffice.geoquizz.local:10080/style/img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  </style>
</head>

<body>
  <header class="navbar">
    <div class="nav_element">
        <a href="#home"><img src="{{style}}/img/logo_chico.png" class="logo"></a>
    </div>
    <nav class="nav_element">
      <a href="#news">Connection</a>
      <a href="#contact">S'inregistrer</a>
    </nav>
  </header>

  <article class="container">
    <div class="jumbotron">
      <h1>Connection</h1>
      <form class="form-horizontal" action="{{connexion}}">
       <div class="form-group">
         <label class="control-label col-sm-2" for="email">Email:</label>
         <div class="col-sm-10">
           <input type="email" class="form-control" id="email" placeholder="Email" name="email">
         </div>
       </div>
       <div class="form-group">
         <label class="control-label col-sm-2" for="password">Mot de passe:</label>
         <div class="col-sm-10">
           <input type="password" class="form-control" id="password" placeholder="Mot de passe" name="password">
         </div>
       </div>
       <div class="form-group">
         <div class="col-sm-offset-2 col-sm-10 dividir">
           <button type="submit" class="btn btn-default">Connecter</button>
           <a href="{{creation}}">Créer un compte</a>
         </div>
       </div>
     </form>
    </div>
   </article>
    <footer>
      <p>Fin de la page</p>
    </footer>
</body>
</html>
