<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Geoquizz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../style/css/input.css">

</head>

<body>
  <header class="navbar">
    <div class="nav_element">
        <a href="{{backoffice}}"><img src="{{style}}/img/logo_chico.png" class="logo"></a>
    </div>
    <nav class="nav_element">
      <a href="#news">Déconnexion</a>
    </nav>
  </header>

  <article class="container">
    <h1><img src="{{style}}/img/logo_chico.png" class="logo"> Geoquizz</h1>
    <div class="row justify-content-center">
      <div class="col-4 centrer">
        <h3>Jeux</h3>
        <img src="{{style}}/img/001-map-location.png">
      </div>
      <div class="col-4 offset-md-4">
        <h3>Images</h3>
        <img src="{{style}}/img/005-image.png">
      </div>
   </div>
  </article>
</body>
</html>
