<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Geoquizz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{style}}/css/input.css">
  <link rel="stylesheet" href="{{style}}/css/style.css">
</head>
<body>
  <header class="navbar">
    <div class="nav_element">
        <a href="{{backoffice}}"><img src="{{style}}/img/logo_chico.png" class="logo"><h6>Geoquizz</h6></a>
    </div>
    <nav class="nav_element">
      <a href="{{logout}}">Déconnexion <span class="icon-exit"></span></a>
      <a href="{{logout}}">Compte <span class="icon-cog"></span></a>
    </nav>
  </header>
  <article class="container">
    <h1 class="centrar">Geoquizz</h1>
    <div class="col-12 centrar">
      <div>
        <a href="{{backoffice}}"><img src="{{style}}/img/001-map-location.png"></a>
      </div>
   </div>
   <div class="col-12 centrar">
    <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="3"><a href="{{serie}}">Ajouter une série</a></th>
      </tr>
    </thead>
    <tbody>

     {% for serie in tabSeries %}
     <tr>
       <td><a href="{{ serie.afficher }}">{{ serie.ville }}</a></td>
       <td><a href="{{ serie.modifier }}"><span class="icon-pencil"></span></a></td>
       <td><a href="{{ serie.supprimer }}"><span class="icon-cross"></span></a></td>
     </tr>
     {% endfor %}

    </tbody>
   </table>
   </div>
  </article>
</body>
</html>
