<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Geoquizz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{style}}/css/input.css">
   <link rel="stylesheet" href="{{style}}/css/demo-files/demo.css">
  <link rel="stylesheet" href="{{style}}/css/style.css"></head>
</head>
<body>
  <header class="navbar">
    <div class="nav_element">
        <a href="{{backoffice}}"><img src="{{style}}/img/logo_chico.png" class="logo"></a>
    </div>
    <nav class="nav_element">
      <a href="#news">Déconnexion</a>
    </nav>
  </header>
  <article class="container">
    <h1><img src="{{style}}/img/logo_chico.png" class="logo"> Geoquizz</h1>
    <div class="col-12 centrar">
      <div>
        <img src="{{style}}/img/001-map-location.png">
      </div>
   </div>
   <div class="col-12 centrar">
    <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="3">Ville</th>
      </tr>
    </thead>
    <tbody>

     {% for serie in tabSerie %}
     <tr>
       <td>{{ serie.ville }}</td>
       <td><a href="{{ serie.modif }}"><span class="icon-pencil"></span></a></td>
       <td><a href="{{ serie.suppr }}"><span class="icon-cross"></span></a></td>
     </tr>
     {% endfor %}

    </tbody>
   </table>
   </div>
  </article>
</body>
</html>
